body{
    margin: 0;
    padding: 0;
 
 
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
}

body {
  background-image: url('../img/backgroundlogin.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  width: 100%;
  height: auto;
}


.loginbox{
    width: 350px;
    height: 430px;
    background: rgb(250, 246, 246);
    color: rgb(14, 13, 13);
    top: 50%;
    left: 75%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 30px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(2, 2, 2);
    font-size: 16px;
}
.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #070707e7;
    color: rgb(250, 243, 243);
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #8e7cc3;
    color: rgb(243, 236, 236);
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: rgb(5, 5, 5);
}

.loginbox a:hover
{
    color: #4eac0f;
}