h1 {
      text-align: center;
    }
    .email-container {
      text-align: center;
    }
.avatarforgot{
  width: 200px;
  height: 200px;
}
body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  font-family: sans-serif;
  background-color: beige;
}
h1{
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 30px;
}
input[type="text"]{
  padding: 5px 8px;
  border-radius: 3px;
  border: 1px solid #353535;
  width: 30%;
}
input[type="submit"] {
  padding: 4px 10px;
  border: none;
  border-radius: 2px;
  background: #353535;
  color: #fff;
  font-weight: 800;
  cursor: pointer;
  font-size: 16px;
}